.btn {
    margin-left: 12px;
}

.listItems {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
    padding: 6px;
}

.listItems:hover {
    background: #FFE5B4;
    border-radius: 6px;    
}

.close {
    color: gray;
    text-decoration: line-through;
}